<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yx.advancedpractice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycleview.activity.BasicDividerActivity"/>
        <activity android:name=".recycleview.activity.BasicLayoutManagerActivity"/>
        <activity android:name=".recycleview.activity.BasicRvActivity"/>
        <activity android:name=".recycleview.activity.DividerActivity"/>
        <activity android:name=".recycleview.activity.FlexBoxLayoutManagerActivity"/>
        <activity android:name=".recycleview.activity.GroupDividerActivity"/>
        <activity android:name=".recycleview.activity.HeaderAndFooterActivity"/>
        <activity android:name=".recycleview.activity.LayoutManagerActivity"/>
        <activity android:name=".recycleview.activity.MutilTypeActivity"/>
        <activity android:name=".recycleview.activity.RecycleViewMainActivity"/>
        <activity android:name=".recycleview.activity.RefreshActivity"/>
        <activity android:name=".recycleview.activity.SwipeRvActivity"/>
        <activity android:name=".recycleview.activity.TimeDividerActivity"/>
        <activity android:name=".recycleview.activity.DragRvActivity"/>
    </application>

</manifest>